.hero__subtitle img {
    width: 2.3rem;
    height: 2.3rem;
}
.hero__content h1{
    font-size: 3.2rem;
    /* //color: var(--secondary-color); */
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color : var(--heading-color);

}

.hero__content h1 .highlight{
    color: var(--secondary-color);
}

.hero__content p{
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 3rem;
    line-height: 2rem;
}

.hero__img-box img,
.hero__img-box video{
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    border : 1px solid var(--secondary-color);
}
.hero__content{
    padding-top: 2rem;
}
.services__subtitle{
    font-size :2.2rem;
    font-weight: 600;
    color: #ee6e6e;
    font-family: var(--subtitle-font-name);
}

.services__title{
    font-weight: 600;
    margin-bottom: 2rem;
}

.featured__tour-title{
    font-size: 2.3rem;
    font-weight: 500;
}

.experience__content h2{
    font-size: 2.3rem;
    font-weight: 500;
    margin-top: 1rem;
}
.experience__content p{
    color: var(--text-color);
    /* font-weight: 400; */
    font-size: 1.1rem;
    margin-top: 1rem;
    /* line-height: 2rem; */
}
.counter__wrapper{
    margin-top: 2.5rem;
}
.counter__box span {
    width: 70px;
    height :70px;
    margin : auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
     color: #fff;
    border-radius: 10px 5px 10px 5px;
    font-size: 1.6rem;
    font-weight: 600;
    
}
.counter__box h6 {
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 0.7rem;
    color: var(--text-color);
}

.experience__img {
    width :90%;
    margin : auto;
}
.gallery__title{
    font-size: 2.3rem;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
}
.masonary__img{
    border-radius: 10px;
    transition: .3s;

}
.masonary__img:hover{
    transform: scale(1.1);
}
.testimonial__title{
    font-size: 2.3rem;
    margin-top: 1rem;
}
