.login__img {  
    width: 60%;
    text-align: center;
}
.login__img img {
    width: 70%;
    object-fit: contain;
}
.login__form{
    padding: 50px;
    background: var(--secondary-color);
    position: relative;
}
.login__container{
    box-shadow: rgba(17,12,46,0.15) 0px 48px 100px 0px;
    margin-top: 100px;

}
.login__form .user{
    width: 80px;
    height: 80px;
    position: absolute;
    top: -9%;
    left: 50%;
    transform: translate(-50%, -9%);
}
.login__form .user img{
    width: 100%;
    border-radius: 50%;
}
.login__form h2{
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;

}
.login__form{
    /* width: 40%; */
}
.login__form input {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    color: var(--heading-color);
}
.login__form input:focus{
    outline: none;
}
.auth__btn{
   background: var(--heading-color) !important;
   width: 100%;
   color: #fff !important;
}
.login__form p{
    text-align: center;
    font-size: 1rem;
    /* color: var(--heading-color); */
    margin-top: 1rem;
    color: #fff;
}
.login__form p  a {
    /* color : var(--heading-color); */
    text-decoration: none;
    margin-left: 5px;
    font-weight: 700;
}






















/* .login__form span{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1rem;
    color: var(--text-color);
}
.login__form span i{
    color: var(--heading-color);
    font-size: 1.1rem;
}
.login__form .form__group{
    margin-bottom: 1rem;
}
.login__form label{
    font-size: 1rem;
    margin-bottom: 0.1rem;
    color: var(--heading-color);
}
.login__form input{
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background: var(--bg-color);
    color: var(--heading-color);
    font-size: 1rem;
} */